@charset "utf-8";
/* 
    Document   : packlink.css
    Created on : 27-mar-2013
    Author     : Pablo E. Fernández Casado (Packlink.es)
    Description:
    Styles of Packlink Administration module.
*/

root 		{ display: block; }
.noDisplayPL{ display: none !important;}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}




.labelStylePL { float: left; padding: 0 0 0 10px; position: relative; top: 20px; width: 20px; }

.radioBtnStylePL {
    display:none !important;
}

.radioBtnStylePL + label{
    color:#000000;
    font-family:Arial, sans-serif;
    font-size:14px;
}

.radioBtnStylePL + label > span {
    display:inline-block;
    width:19px !important;
    height:19px !important;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet-2.png) -38px top no-repeat;
    cursor:pointer;
}

.radioBtnStylePL:checked + label > span {
    background:url(../images/check_radio_sheet-2.png) -57px top no-repeat;
}

div.floatLeft { float:left; overflow: hidden; }
div.scrollWrapper { overflow:scroll; width:300px; height:320px; padding:0; margin:0; width:auto; }

.black {
    background: rgb(69,72,77) !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ) !important; /* IE6-8 */
    border: 1px solid #333333 !important;
    color: #ffffff !important;
}
.black:hover {
    background: -moz-linear-gradient(center top , #444444, #000000) repeat scroll 0 0 transparent;
}
.black:active {
    background: -moz-linear-gradient(center top , #000000, #444444) repeat scroll 0 0 transparent;
    color: #666666;
}

.submitButton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 12px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
        width: auto !important;
        min-width: auto !important;
}
.submitButton:hover {
	text-decoration: none;
}
.submitButton:active {
	position: relative;
	top: 1px;
}

.activeService { float:none !important;min-width:auto !important; width:auto !important; margin:0 !important; padding: 0 !important; }

#contentOrder tr td { min-width: 32px; }

#frm, #frm2 { margin: 0; padding: 0; }

.adjust input { margin: 0 auto !important; padding-left: 0 !important; padding-right: 0 !important; width: 100% !important; }
